@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';

.aside-menu {
  width: 250px;
  position: relative;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  font-size: 1.5rem;

  &__nav-wrapper {
    position: sticky;
    top: 80px;
  }

  &__title {
    margin-top: 20px;
    padding: 10px 25px;
    background-color: rgba(45, 54, 58, 0.9);
    color: white;
  }

  &__link {
    margin-top: 10px;
    padding: 10px 5px;
    text-align: center;
    list-style: none;

    &:hover {
      cursor: pointer;
      background-color: $color-green-alpha;
    }
  }

  &__a-tag {
    text-decoration: none;
    color: #000;
  }
}
