@import "./variables.scss";

@mixin btn {
  border: none;
  background-color: $color-green;
  color: white;
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;

  &:hover {
    cursor: pointer;
    background-color: $color-darker-green;
  }

  &:focus {
    outline: none;
  }
}

@mixin btn-cancel {
  border-radius: 5px;
  border: 0.5px solid gray;
  background-color: white;
  color: black;
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;

  &:hover {
    cursor: pointer;
    background-color: $color-green;
  }

  &:focus {
    outline: none;
  }
}

@mixin btn-small {
  border-radius: 3px;
  border: none;
  background-color: $color-green;
  color: white;
  font-size: 1.2rem;

  &:hover {
    cursor: pointer;
    background-color: $color-darker-green;
  }

  &:focus {
    outline: none;
  }
}

@mixin input {
  border-radius: 5px;
  border: 0.1px solid gray;
  font-size: 1.5rem;

  &:focus {
    outline: none;
    border: 2px solid $color-green;
    box-shadow: 0 0 10px $color-green-alpha;
  }
}

@mixin validate-message {
  color: #f00;
  font-size: 1.5rem;
  text-align: center;
}
