@import "../../../sass/variables.scss";
@import "../../../sass/mixins.scss";

.course-popup {
  display: flex;
  flex-direction: column;

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__form-row {
    display: flex;
  }

  &__label {
    width: 100%;
    font-size: 1.5rem;
  }

  &__list {
    list-style: none;
  }

  &__authors {
    font-size: 1.5rem;
  }

  &__input {
    display: flex;
    flex-grow: 1;
    width: 100%;
    margin-top: 5px;
    padding: 5px 0 5px 5px;
    @include input;
  }

  &__validate-message {
    margin-bottom: 20px;
    @include validate-message;
  }

  &__btn {
    width: 50%;
    margin: 10px auto;
    padding: 10px 10px;
    border-radius: 5px;
    @include btn;

    &_cancel {
      width: 50%;
      margin: 0 auto;
      padding: 5px 10px;
      @include btn-cancel;
      @media (max-width: 812px) {
        width: auto;
        padding: 3px 5px;
      }
    }

    &_small {
      width: 30%;
      margin: 5px 10px;
      padding: 5px 5px;
      @include btn-small;
      @media (max-width: 812px) {
        width: auto;
      }
    }

    @media (max-width: 812px) {
      width: auto;
      padding: 5px 5px;
    }
  }
}
